.card {
  width: 210px;
  height: 270px;
  background: linear-gradient(
    to bottom,
    #19599a 0%,
    #19599a 35%,
    #b8d4f1 30%,
    #b8d4f1 100%
  );
  border-radius: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: 0.3s ease;
  &__back {
    width: 210px;
    height: 270px;
    font-size: 10px;
    padding: 12px;
    color: var(--light-color);
    background-image: url('../images/card_back_210x270.jpg');
    object-fit: contain;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .firstSeen,
    .debut {
      margin-bottom: 8px;
    }
    .learnMore {
      background-color: orangered;
      width: 120px;
      color: var(--light-color);
      font-size: 12px;
      font-weight: bold;
      outline: none;
      border: none;
      border-radius: 20px;
      padding: 8px 12px;
      margin: 0 auto;
      &:hover {
        background-color: orange;
      }
    }
  }
  &-container {
    width: 100%;
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    padding: 32px 0;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: absolute;
    top: 6%;
    height: 60px;
    width: 60px;
    color: var(--light-color);
    border: 2px solid var(--light-color);
    border-radius: 30px;
  }
  &__title {
    font-size: 0.7rem;
  }
  &__text {
    font-size: 0.7rem;
  }
  .status {
    width: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    &__circle-green {
      height: 9px;
      width: 9px;
      border-radius: 50%;
      background-color: #217f31;
    }
    &__circle-red {
      height: 9px;
      width: 9px;
      border-radius: 50%;
      background-color: red;
    }
    &__text {
      font-size: 12px;
      font-weight: bold;
      color: var(--light-color);
    }
  }
  &__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &__info {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    row-gap: 15px;
    margin-bottom: 21px;
    &-title {
      text-align: center;
      background-color: #19599a;
      color: var(--light-color);
      font-weight: bold;
      padding: 8px 12px;
      border-radius: 20px;
      margin: 0 16px;
    }
    &-text {
      text-align: center;
      background-color: #217f31;
      color: var(--light-color);
      padding: 8px 12px;
      border-radius: 20px;
      margin: 0 16px;
    }
  }
}
.main {
  display: grid;
  justify-content: center;
  align-items: center;
}
