.card {
  margin: 0 auto;
  transition: 100ms;
  &__body {
    border-radius: 0 10px 10px 10px;
    padding: 6px 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  p {
    font-size: 1.2rem;
  }
  &-container {
    width: 90vw;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 auto;
    row-gap: 40px;
    margin: 20px;
  }
  &:hover {
    transform: scale(1.05);
  }
  &__image {
    width: 120px;
    height: 180px;
  }
  &__title {
    text-transform: uppercase;
    text-align: center;
    
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
