.footer {
  background-color: var(--gray-color);
  color: black;
  text-align: center;
  font-size: 0.8rem;
  padding: 12px;
  &__section {
    display: flex;
    justify-content: space-evenly;
    &-interests {
      a {
        display: block;
        color: var(--footer-links);
        &:visited {
          color: var(--footer-links);
        }
        &:hover {
          color: #ff4f00;
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
    &-social {
      padding: 0 8px;
      .icons {
        height: 100%;
        margin-top: -14px;
        display: flex;
        align-items: center;
        gap: 12px;
        a {
          font-size: 1.5em;
          transition: 0.3s ease;
          color: var(--dark-color);
          &:visited {
            color: var(--dark-color);
          }
          &:hover {
            color: #217f31;
            transform: scale(1.3);
          }
        }
      }
    }
  }
}
.copyright {
  &__msg {
    padding: 12px 0;
  }
  &__logo {
    margin-top: 29px;
  }
}
