.footer {
  background-color: var(--gray-color);
  color: black;
  text-align: center;
  font-size: 0.8rem;
  padding: 12px;
  &__section {
    display: flex;
    justify-content: space-evenly;
    &-interests {
      a {
        display: block;
        &:hover {
          color: #006097 !important;
          text-decoration: underline;
        }
        &:visited {
          color: var(--footer-links);
        }
      }
    }
    &-social {
      padding: 0 8px;
      .icons {
        height: 100%;
        margin-top: -14px;
        display: flex;
        align-items: center;
        gap: 12px;
        &__icon {
          font-size: 1.5em;
          color: black;
          :hover {
            color: #006097;
          }
        }
      }
    }
  }
}

.copyright {
  &__msg {
    padding: 12px 0;
  }
  &__logo {
    margin-top: 29px;
  }
}
