.hero {
  height: 476px;
  padding-top: 5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  color: var(--light-color);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  font-size: 0.7rem;
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__link {
    background-color: #217f31;
    width: 140px;
    height: 28px;
    color: var(--light-color);
    font-size: 0.7rem;
    border-radius: 40px;
    padding: 6px 10px;
    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: #5bb747;
    }
  }
}
