header {
  position: relative;
  padding: 0 2rem;
}



.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__image {
    width: 120px;
    height: 40px;
  }
  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-weight: bold;
    a {
      font-size: 1rem;
      color: #26354b;
      &:visited {
        color: #26354b;
      }
      &:hover {
        color: #ff4f00;
      }
    }
  }
  &__logo {
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__toggleBtn {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
  }
}

/* DARK MODE */
.btn {
  background-color: var(--light-color);
  width: 54px;
  height: 32px;
  border-radius: 10em;
  padding: 0 4px;

  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  &__indicator {
    background-color: var(--light-color);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  &__icon {
    &.animated {
      animation: spin 0.5s;
    }
    &-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Modifies the Dark Mode button specifically*/
.darkmode {
  background-color: var(--dark-color);
  color: var(--light-color);
  transform: translateX(21px);
}

.actionBtn {
  background-color: #ff4f00;
  color: var(--light-color);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2s ease-in;
  &:hover {
    background-color: orange;
    scale: 1.05;
  }
  &:active {
    scale: 0.95;
  }
}

/* DROPDOWN MENU */
.dropdown_menu {
  height: 0;
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  background-color: var(--light-color);
  border-radius: 10px;
  overflow: hidden;
  z-index: 2;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  li {
    padding: 0.7rem 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      font-size: 1rem;
      color: #26354b;
      &:visited {
        color: #26354b;
      }
      &:hover {
        color: #ff4f00;
      }
    }
  }
  .actionBtn {
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 0.7rem;
    margin: auto;
  }
}

.dropdown_menu.open {
  height: 175px;
  display: block;
}
