.pages {
  text-align: center;
  color: #26354b;
  font-size: 0.8rem;
  padding: 20px 0;
  &__title {
    font-weight: bold;
  }
  &__number {
    font-size: 1.2rem;
    font-weight: bold;
    outline: none;
  }
}
